#app {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  padding: 2em;
}

* { outline: none }

html { height: 100%; background: #f9f9f9; }
